/* 

fonts
font-family: 'Alfa Slab One', cursive;
font-family: 'Montserrat', sans-serif; 
*/
/* Colors
#fbdcc4
#f2a07b
#31112c
#7d0633*/
/* Header */

body {
  width: 100%;
}
#header {
  background-color: #7d0633;
  padding-top: 2%;
  width: 100%;
  height: 100%;
  padding-bottom: 2%;
}
#header .logo {
  font-family: monospace;
  font-size: 1rem;
  color: #fbdcc4;
}

.container {
  color: #fff;
  line-height: 1.5;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 1.4px;
  font-size: 1rem;
}
.banner {
  line-height: 1.5;
  text-align: center;
}

.subtext {
  font-family: "Courier New", Courier, monospace;
}
.logo-img {
  transform: rotate(-10deg);
}
/* Products */
#products {
  padding: 5%;
  text-align: center;
  background-color: #e0d9fc;
  color: #3d0604ce;
  font-family: "Alfa Slab One", cursive;
}
.product-img {
  width: 200px;
  height: 300px;
  margin: 10px 20px 20px 10px;
  border-radius: 10%;
}
figcaption {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}

.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #f36f82;
  margin-bottom: 2rem;
}
.icon:hover {
  color: #ff4c68;
}
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
#testimonials h2 {
  font-family: "Montserrat";
  font-size: 2rem;
  line-height: 1.5;
}
.testimonial-img {
  width: 150px;
  height: 250px;
  border-radius: 30%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 10%;
}
#footer {
  text-align: center;
  padding: 5% 18%;
}
.social-icon {
  margin: 4px 10px;
}
#footer a {
  color: black;
}

/* Media Queries */
@media (max-width: 1024px) and (min-width: 300px) {
  .title-image {
    transform: rotate(0);
    position: static;
    margin-left: 30%;
  }
  #testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
  }
  #testimonials h2 {
    font-family: "Montserrat";
    font-size: 2rem;
    line-height: 1.5;
  }
}
